NODE_ENV = "development  || production"

SESSION_SECRET = "YOUR_SESSION_SECRET"

DATABASE_URL="YOUR_DATABASE_URL"

GOOGLE_CLIENT_ID = "YOUR_GOOGLE_CLIENT_ID" 
GOOGLE_CLIENT_SECRET = "YOUR_GOOGLE_CLIENT_SECRET"

FRONTEND_URL = "YOUR_FRONTEND_URL"

REDIS_CLIENT = "YOUR_REDIS_CLIENT_URL"

PORT= 8000